$color-main: #518581;
$color-main-light: #85aaa7;
$color-main-disabled: #d9d9d9;

$color-text-light: #afadb5;
$color-text-dark: #151411;

$color-button-secondary-border: #f3f3f3;

$font-family: "Eudoxus Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", sans-serif;

$page-min-height: calc(100vh - 240px);
