@import "@styles/variables";

.input {
  font-size: 18px;
  line-height: 160%;
  font-weight: 500;
  border: none;
  border-radius: none;
  width: auto;

  &_color--primary {
    padding: 26px 30px;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.4);
    border: 1px solid transparent;

    &:focus {
      outline: 0;
      border: 1px solid $color-main;
    }
  }

  &_color--naked {
    &:focus {
      outline: 0;
    }
  }

  &::placeholder {
    color: $color-text-light;
  }
}
