@import "../../styles/variables";
.loader {
  fill: $color-main;
  animation: spin 1s linear infinite;
}

.loader_size-s {
  height: 20px;
  width: 20px;
  stroke: $color-main;
  stroke-width: 1px;
}

.loader_size-m {
  height: 40px;
  width: 40px;
}

.loader_size-l {
  height: 60px;
  width: 60px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
